In [4]:
import pandas as pd
df=pd.read_csv('91 CLUB PREDICTION - Sheet1.csv')
df.head()

          Period   Number  Big /Small  Color
0  20231225020001      2.0     Small     Red
1  20231225020002      2.0     Small     Red
2  20231225020003      1.0     Small   Green
3  20231225020004      9.0        Big  Green
4  20231225020005      1.0     Small   Green